{
  "subject_id": "fraud-aws-2026-10-r50",
  "same_subject": true,
  "pipeline_reexecution": "same_definition",
  "model_package_mutation_result": "timeout_unknown",
  "model_package_read_before_retry": false,
  "duplicate_model_package_created": "arn:aws:sagemaker:eu-central-1:123456789012:model-package/fraud-prod/185",
  "endpoint_mutation_result": "timeout_unknown",
  "endpoint_read_before_retry": false,
  "duplicate_endpoint_update_submitted": true,
  "loaded_state_reconciled": false
}
